* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url('images/bg-intro-desktop.png');
  background-color: hsl(0, 100%, 74%);
}

p {
  font-family: 'Poppins', sans-serif;
  font-size: i6px;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 50px;
}

.container {
  width: 100vw;
  margin: auto;
  display: flex;
  min-height: 100vh;
  align-items: center;
  justify-content: center;
  padding: 70px;
}

.title-div {
  width: 50%;
  color: white;
  padding: 10px;
}

.main-div {
  width: 50%;
  margin-left: 70px;
}

.top-main-div {
  background: hsl(248, 32%, 49%);
  margin-bottom: 20px;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 10px;
  border-radius: 5px;
  text-align: center;
  color: white;
}

.bottom-main-div {
  border-radius: 5px;
  background: white;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  text-align: center;
}

.bottom-main-div form .input-box {
  padding-top: 10px;
  margin-top: 10px;
}

.input-box input {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid black;
  /* add to action */
  /* margin-bottom: 10px; */
  font-family: 'Poppins', sans-serif;
  font-size: i6px;
}

span {
  font-weight: bold;
  color: hsl(0, 100%, 74%);
}

.input-box p {
  padding-top: 10px;
  padding-bottom: 10px;
  color: hsl(246, 25%, 77%);
}

/* validation effect
.input-box[data-error] input {
  border-color: hsl(0, 100%, 74%);
  color: hsl(0, 100%, 74%);
  background: #fffafa;
}*/

/* output validation message */
/* .input-box[data-error]::after {
  content: attr(data-error); */
/* styling the error message */
/* font-size: 0.85em;
  color: hsl(0, 100%, 74%);
  display: block;
  margin: 10px 0;
}  */

.submit-btn {
  font-family: 'Poppins', sans-serif;
  font-size: i6px;
  background: hsl(154, 59%, 51%);
  color: white;
}

.submit-btn:hover {
  background: hsl(154, 59%, 62%);
}

@media all and(max-width: 375px) {
  .container {
    width: 80vw;
    margin: auto;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 70px;
  }
}
